<html>
<div [hidden]="!myVar">
<div class="form-group"  id="selectRoom">
    <label>Video conferencing</label>
    <input (input)="tcode=$event.target.value" type="text" class="form-control">
    <button class="btn btn-success" (click)="submit($event)">Submit</button>
</div>
</div>

<!-- <div id="consultingRoom" style="display:none"> -->
    <video id="localVideo" autoplay></video>
    <video id="remoteVideo" autoplay></video>
<!-- </div> -->
</html>
